
<header class="navbar">
  <% if user_signed_in? %>
   <div class="flex justify-between items-center w-full p-4">
        <div class="flex flex-col space-y-2">
            <div class="text-xl font-bold">
                <%= current_company.name %>
            </div>
            <div class="text-blue-400">
                <%= current_user.name %>
            </div>
        </div>

        <%= button_to 'Sign out',
            destroy_user_session_path,
            method: :delete,
            class: 'btn btn--dark' 
        %>
    </div>
    <% end %>
</header>
